

<body class="emojitachi">
  <%= link_to "　",  editprofile_foods_path , class: "edittorisetsu" %>
  <div clas="moji">
    <div class="moji__tsu"></div>
    <div class="moji__ku"></div>
    <div class="moji__ri"></div>
    <div class="moji__na"></div>
    <div class="moji__o"></div>
    <div class="moji__so"></div>
    <div class="moji__u"></div>
  </div>

  <div class="ctt_title">
  </div>

  <%= form_with model: @food, class: :eform, local: true do |form| %>
    <div class="eform__name-icon"></div>
    <%= form.text_field :name, placeholder: :なんてもの, class: :eform__name %>
    <div class="eform__unit-icon"></div>
    <%= form.text_field :unit, placeholder: :単位, class: :eform__unit %>
    <div class="eform__death-icon"></div>
    <%= form.number_field :death, placeholder: :致死量, class: :eform__death %>
    <div class="eform__description-icon"></div>
    <%= form.text_area :description, placeholder: :説明, class: :eform__description %>
    <div class="eform__btn-icon"></div>
    <%= form.submit '　', class: :eform__btn %>
  <% end %>
  <div class="sougen">
    <footer class="sougen__ber"></footer>
  </div>



  <div class="content">
      <a class="js-modal-open" href="">もいもい</a>
  </div>
  <div class="modal js-modal">
      <div class="modal__bg js-modal-close"></div>
        <a class="modal__bg--newbee">
        ハチさんの顔を押すとホームに戻れるよ！
        </a>
        <div class="modal__bg--newtanpopo">
        タンポポのタネを押すと『ちしりょう』を作れるよ！
        </div>
        <div class="modal__bg--indexkanban">
        見たい『ちしりょう』を押してね！
        </div>
        <div class="modal__bg--indexsetsu">
        『ちしりょう』を作って<br>　　　　　　看板を増やそう！
        </div>
      </div><!--modal__inner-->
  </div><!--modal-->


<script type="text/javascript">
$(function(){
  $('.js-modal-open').on('click',function(){
      $('.js-modal').fadeIn();
      return false;
  });
  $('.js-modal-close').on('click',function(){
      $('.js-modal').fadeOut();
      return false;
  });
});
</script>

</body>


