<body class="mojitachi">
  <div clas="moji">
    <div class="moji__tsu"></div>
    <div class="moji__ku"></div>
    <div class="moji__kotsu"></div>
    <div class="moji__te"></div>
    <div class="moji__mi"></div>
    <div class="moji__yo"></div>
    <div class="moji__u"></div>
  </div>

  <div class="food_title">
  </div>

  <%= form_with model: @food, class: :form, local: true do |form| %>
    <label>
    <%# <%= form.radio_button :mvfd, "にく" にく </label> %>
    <%# <label><%= form.radio_button :mvfd, "やさい" やさい</label> %>
    <%# <label><%= form.radio_button :mvfd, "さかな" さかな</label> %>
    <%# <label><%= form.radio_button :mvfd, "のみもの" のみもの</label> %>
    <div class="form__name-icon"></div>
    <%= form.text_field :name, placeholder: :なんてもの？, class: :form__name %>
    <div class="form__unit-icon"></div>
    <%= form.number_field :death, placeholder: :ちしりょうは？, class: :form__death %>
    <div class="form__death-icon"></div>
    <%= form.text_field :unit, placeholder: :たんいは？, class: :form__unit %>
    <div class="form__description-icon"></div>
    <%= form.text_area :description, placeholder: :せつめいをかいてね, class: :form__description %>
    <div class="form__btn-icon"></div>
    <%= form.submit '完成！', class: :form__btn %>
  <% end %>
  <div class="sougen">
    <footer class="sougen__ber"></footer>
  </div>
</body>

