<div class="foodName">
  <%= @food.name %>
</div>
<div class="foodDeath">
  <%= @food.death %>
</div>
<div class="foodUnit">
  <%= @food.unit %>
</div>
<div class="foodDescription">
  <%= simple_format @food.description %>
</div>
<div class="foodManage">
  <%= link_to "編集", edit_food_path(@food.id), class: "foodManage_edit" %>
  <%= link_to "削除", food_path(@food.id), method: :delete, class: "foodManage_delete" %>
</div>
